<ion-header id="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="screenShoot();">
        <ion-icon name="aperture-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="help();">
        <ion-icon name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <app-loader [isLoader]="showSplash" [message]="message" [tip]="tip"></app-loader>


  <div id="container">
    <div class="iconHeader">
      <ion-icon id="iconSad" name="sad-outline" (click)="sad();"></ion-icon>
      <ion-icon id="iconHappy" name="happy-outline" (click)="happy();"></ion-icon>
    </div>
    <div class="cardContainer">
      <div class="resultsContainer">
        <span class="results">Lectura del Sensor</span>
      </div>
      <div class="dataContainer bpm">
        <div class="data">
          <span class="value">{{ resultados.oxygen }}%</span>
          <span class="name">Sp02</span>
          <div>
            <ion-icon (click)="infoSp02();" name="information-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="dataContainer spo2">
        <div class="data">
          <span class="value">{{ resultados.heart_rate }}</span>
          <span class="name">BPM</span>
          <div>
            <ion-icon (click)="infoBPM();" name="information-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="dataContainer temp">
        <div class="data">
          <span class="value">{{ temp }}°C</span>
          <span class="name">Temperatura</span>
          <div>
            <ion-icon (click)="infoTemp();" name="information-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    
    <div (click)="terminar();" class="finishContainer">
      <span class="finish">Terminar</span>
    </div>
  </div>
</ion-content>
