<ion-header id="header">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="transparent">
    <ion-item (click)="editarNombre();" color="transparent">
      <ion-label class="text">Editar Nombre</ion-label>
    </ion-item>
    <ion-item (click)="ajustarHora();" color="transparent">
      <ion-label class="text">Ajustar Hora</ion-label>
    </ion-item>
    <ion-item (click)="privacidad();" color="transparent">
      <ion-label class="text">Privacidad</ion-label>
    </ion-item>
    <ion-item (click)="trabajaNosotros();" color="transparent">
      <ion-label class="text">Trabaja con Nosotros</ion-label>
    </ion-item>
    <ion-item (click)="borrarDatos();" color="transparent">
      <ion-label class="text">Borrar Datos</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>