<ion-header id="header">
  <ion-toolbar>
    <ion-title class="ion-text-center">Primeros Pasos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="transparent">
    <div>
      <img src="assets/img/logo_deinev.png" alt="Logo" class="logo">
      <div class="text">
        <h2 class="titulo">¡Bienvenido!</h2>
        <p>Para comenzar a usar la aplicación puedes leer los siguientes puntos:</p>
        <ul>
          <li>El uso de tus datos no seran compartidos con nadie más.</li>
          <li>Esta es una aplicación en fase beta.</li>
          <li>Queda bajo tu responsabilidad confiar en los diagnósticos.</li>
          <li>Somos una empresa dedicada a facilitarte información.</li>
          <li>Nuestra única referencia es un chico que trabajó en una farmacia.</li>
          <li>Esta aplicación es un proyecto escolar.</li>
          <li>Te daremos recomendaciones basadas en internet.</li>
          <li>Nuestro objetivo es prevenir posibles enfermedades.</li>
          <li>Los datos pueden varear dependiendo del estado de los sensores.</li>
          <li>Los sensores realizan varias lecturas y se saca un promedio.</li>
        </ul>

        
        <h4>¿Qué puedes encontrar al abrir OxiCare?</h4>
        <p>En la aplicación podrás ver las siguientes opciones:</p>
        <ul>
          <li>
            <b>Home: </b>En la sección principal encontrarás:
            <ul>
              <li>Botón para iniciar el escaneo.</li>
              <li>Información sobre los últimos diagnosticos.</li>
            </ul>
          </li>
          <br>
          <li>
            <b>Información: </b>Te encuentras en esta sección y podrás conocer más acerca de la aplicación.
            <ul>
              <li>Terminos y condiciones sobre el uso y funcionamiento.</li>
              <li>Información sobre las diferentes secciones de la aplicación y su uso.</li>
              <li>Información sobre los desarrolladores y la empresa.</li>
            </ul>
          </li>
          <br>
          <li>
            <b>Gráficas: </b>En esta sección podrás ver tus datos.
            <ul>
              <li>
                Gráfica de barras para:
                <ul>
                  <li>Temperatura</li>
                  <li>Nivel de Oxígeno</li>
                  <li>Ritmo Cardiaco</li>
                </ul>
              </li>
              <li>Datos ordenados por días, semanas, meses y años.</li>
              <li>Recomendaciones en base a tus datos.</li>
            </ul>
          </li>
          <br>
          <li>
            <b>Resultados: </b>Accedes a esta sección después de que se hayan usado los sensores.
            <ul>
              <li>Carita "feliz" o "triste" dependiendo de los datos obtenidos.</li>
              <li>Valor y nombre de los datos.</li>
              <li>Información específica sobre cada dato.</li>
              <li>Botón de "Terminar" para regresar a la pantalla principal.</li>
            </ul>
          </li>
        </ul>

        <p>Si tienes alguna duda, inconformidad o sugerencia puedes contactarnos en:</p>
        <ul>
          <li>Correo: <a href="mailto:">deinev@gmail.com</a> </li>
        </ul>

      </div>
    </div>
  </ion-card>
  
</ion-content>