<ion-tabs id="tabs" class="tabContainer">

  <ion-tab-bar class="iconsTab" slot="bottom">

    <ion-tab-button class="iconTab" tab="graficas">
      <ion-icon id="iconStats" name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="iconTab" tab="home">
      <ion-icon id="iconHome" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="iconTab" tab="configuracion">
      <ion-icon id="iconSettings" name="settings-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>