<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="resultados" (click)="goToResultados()">
      <ion-icon name="bar-chart-outline" style="font-size: 20px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline" style="font-size: 20px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="settings-outline" style="font-size: 20px;"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>