ion-content {
  --background: #fff;
}
ion-toolbar {
  --background: rgba(0, 172, 200, 0.3);
  --color: #476073
}
#header {
  background-color: #fff;
}

.colors {
  color: rgb(0, 172, 200);
  color: rgb(149, 214, 0);
  color: rgb(179, 79, 197);
  color: rgb(255, 131, 0);
  color: rgb(71, 96, 115);
  color: rgb(189, 187, 188);
  color: rgb(255, 99, 132);

  color: #00acc8;
  color: #95d600;
  color: #b34fc5;
  color: #ff8300;
  color: #476073;
  color: #bdbbbc;
  color: #ff6384,

}

.container {
  margin-top: 100px;
}

.iconsContainer ion-icon {
  font-size: 30px;
  color: rgb(71, 96, 115);
}


