<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="screenShoot();">
        <ion-icon name="aperture-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="help();">
        <ion-icon name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Gráficas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loader [isLoader]="showSplash" [message]="message" [tip]="tip"></app-loader>

  <div id="container">
    <ion-card color="transparent" class="segmentContainer">
      <ion-segment class="iconsContainer" value="temp">
        <ion-segment-button (click)="showTemp();" value="temp">
          <ion-icon name="thermometer-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="showOxigen();" value="oxi">
          <ion-icon name="water-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="showBpm();" value="bpm">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
    <div id="GraficaTemp">
      <ion-card color="transparent">
        <div class="chartContainer">
          <canvas id="barTemp" width="400" height="400" ></canvas>
        </div>
      </ion-card>
    </div>
    <div class="" id="GraficaOxi">
      <ion-card color="transparent">
        <div class="chartContainer">
          <canvas id="barOxi" width="400" height="400" ></canvas>
        </div>
      </ion-card>
    </div>
    <div class="" id="GraficaBpm">
      <ion-card color="transparent">
        <div class="chartContainer">
          <canvas id="barBpm" width="400" height="400" ></canvas>
        </div>
      </ion-card>
    </div>
    <ion-card color="transparent">
      <ion-segment class="labelsContainer" value="dia">
        <ion-segment-button (click)="datosDia();" value="dia">
          <ion-label>Día</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="datosMes();" value="mes">
          <ion-label>Mes</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="datosAnio();" value="anio">
          <ion-label>Año</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
    <div></div>
  </div>
</ion-content>
