<ion-content id="content" [fullscreen]="true">

  <app-loader [isLoader]="showSplash" [message]="message" [tip]="tip"></app-loader>
  
  <div id="container">
    
    <div class="topContainer">
      <!-- <div class="header">
        <div class="iconHeader">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <span class="bienvenida">Hola Usuario</span>
      </div> -->
      <div class="nameApp">
        <span class="oxi">Oxi </span>
        <div class="careContent">
          <span class="care"> Care</span>
        </div>
      </div>
      <div class="startButton">
        <ion-icon name="play-circle-outline" (click)="comenzar();" id="buttonPlay"></ion-icon>
        <ion-icon name="close-circle-outline" (click)="error();" id="buttonError"></ion-icon>
      </div>
      <span class="stateSensors">{{ stateSensors }}</span>
      <!-- <h6 class="stateSensors">¡Sensores Listos!</h6> -->
    </div>

    <div class="middleContainer">
      <div class="lastExams">
        <div class="headerExam">
          <h5 class="ultimosExamenes">Ultimos Examenes</h5>
          <div class="iconHeaderExam">
            <ion-icon name="arrow-down-circle-outline"></ion-icon>
          </div>
        </div>
        <div class="exam" *ngFor="let ltr of latestTwoRegisters" >
          <div class="examText">
            <div class="fechaCompleta">
              <div class="fecha">
                {{ ltr.fecha }}
              </div> 
              <div class="hora">
                {{ ltr.hora }}
              </div>
            </div>
            <div class="containerDatos">
              <div class="datos">
                <ion-icon name="water-outline"></ion-icon>
                {{ ltr.datos.oxygen }}%
              </div>
              <div class="datos">
                <ion-icon name="thermometer-outline"></ion-icon>
                {{ ltr.datos.temperature }}°C
              </div>
              <div class="datos">
                <ion-icon name="heart-outline"></ion-icon>
                {{ ltr.datos.heart_rate }}bpm
              </div>
              
            </div>
            
          </div>
        </div>

      </div>
    </div>

  </div>
</ion-content>

