<ion-content [fullscreen]="true">

  <app-loader [isLoader]="showSplash" [message]="message" [tip]="tip"></app-loader>
  
  <div id="container">
    
    <div class="topContainer">
      <!-- <div class="header">
        <div class="iconHeader">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <span class="bienvenida">Hola Usuario</span>
      </div> -->
      <div class="nameApp">
        <span class="oxi">Oxi </span>
        <div class="careContent">
          <span class="care"> Care</span>
        </div>
      </div>
      <div class="startButton" (click)="comenzar();">
        <ion-icon name="play-circle-outline"></ion-icon>
      </div>
      <span class="stateSensors">{{ stateSensors }}</span>
      <!-- <h6 class="stateSensors">¡Sensores Listos!</h6> -->
    </div>

    <div class="middleContainer">
      <div class="lastExams">
        <div class="headerExam">
          <h5 class="ultimosExamenes">Ultimos Examenes</h5>
          <div class="iconHeaderExam">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </div>
        </div>
        <div class="exam">
          <div class="examText">
            <div class="fecha">
              Martes 15 de Agosto
            </div>
            <div class="datos">
              Niveles de Oxigeno al 100%
            </div>
          </div>
          <div class="detalles">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
        </div>

        <div class="exam">
          <div class="examText">
            <div class="fecha">
              Jueves 8 de Septiembre
            </div>
            <div class="datos">
              Niveles de Oxigeno al 100%
            </div>
          </div>
          <div class="detalles">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

